<body class="show-page">
  <p class="show-container"><strong>Title:</strong><%= @book.title %></p>

  <p class="show-container"><strong>Body:</strong><%= @book.body %></p>

  <p>
    <%= link_to "Edit", edit_book_path(@book) %>
    |
    <a href="/books">Back</a>
  </p>


</body>
