<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta cherset="utf-8">
    <link rel="stylesheet" href="../homes../assets/stylesheets/homes.scss">
    <title>Webcamp-Book</title>
  </head>

  <body>
    <h1 class="header">ようこそ<strong class="title">Bookers</strong>へ！</h1>
    <main class="main">
      <p class="top-p"><strong class="title">Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
      <p class="top-p">印象を共有し、交換することができます。</p>
      <p class="top-p">
        <a href="/books" class="start">Start</a>
      </p>
    </main>
  </body>
</html>