// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-selif;
}

.header {
  margin: 50px;
}

.title {
  font-family: arial, verdana, sans-serif;
}

.main {
  margin: 20px 70px;
  font-size: 12px;
}

p {
  padding: 16px;
  line-height: 16px;
}

p:last-child {
  height: 20px;
  padding: 0;
}

.start {
  margin: 10px;
  padding: 4px;
  font-size: 16px;
  background-color: #8e8eff;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
}

